.home {
  flex: 1;
}
.home .content {
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.home .content .screen-grid {
  margin: 0 !important;
  padding: 15px;
}
.home .clothes-carousel div {
  box-shadow: none !important;
  max-width: 500px;
}
.home .tickers {
  transform: rotate(90deg);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  z-index: -1000;
}
.home .tickers .wrap {
  position: fixed;
  width: 100%;
  overflow: hidden;
  height: 4rem;
  background-color: rgba(#000, 0.9);
  padding-left: 100%;
  box-sizing: content-box;
  animation-play-state: inherit;
}
.home .tickers .ticker {
  animation-play-state: inherit;
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
}
.home .ticker-block p {
  white-space: nowrap;
  margin-right: 15px;
  box-sizing: content-box;
}
@keyframes ticker {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}
.home .ticker-block {
  display: flex;
  align-items: flex-end;
  height: 100%;
}
.home .mailing-list button {
  color: var(--accent);
}

/*desktop design*/
@media only screen and (min-width: 500px) {
  .home .title-wrap,
  .home .subtitle-wrap {
    grid-column: span 12 / 13;
    display: flex;
    justify-content: center;
  }
  .home .title-wrap {
    grid-row: 3;
  }
  .home .subtitle-wrap {
    grid-row: 4;
  }
  .home .mailing-list {
    grid-column: span 12 / 13;
    grid-row: 15;
    display: flex;
    justify-content: center;
    background-color: var(--background);
  }
  .home .clothes-carousel {
    grid-column: span 12 / 13;
    grid-row: span 8 / 14;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mailing-modal-content {
    position: absolute;
    height: 200px;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    background-color: var(--background);
    padding: 15px;
    outline: none;
  }
  .mailing-modal-content .col {
    justify-content: space-evenly !important;
    height: 100%;
  }
  .mailing-modal-content .close {
    position: absolute;
    right: -11px;
    top: -11px;
  }
}

/* mobile design */
.home .title-wrap h2,
.home .subtitle-wrap .sub2,
.home .music {
  display: none;
}
@media only screen and (max-width: 500px) {
  .home .title-wrap h1,
  .home .subtitle-wrap h2 {
    display: none;
  }
  .home .title-wrap h2,
  .home .subtitle-wrap .sub2 {
    display: block;
    white-space: nowrap;
  }
  .home .title-wrap,
  .home .subtitle-wrap {
    grid-column: span 4 / 5;
    display: flex;
    justify-content: center;
  }
  .home .title-wrap {
    grid-row: 2;
  }
  .home .subtitle-wrap {
    grid-row: 3;
  }
  .home .mailing-list {
    grid-column: span 4 / 5;
    grid-row: 10;
    display: flex;
    justify-content: center;
    background-color: var(--background);
  }
  .home .clothes-carousel {
    grid-column: span 4 / 5;
    grid-row: span 6 / 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home .tickers {
    transform: rotate(90deg) translateY(-25%);
    min-height: 100vw;
    min-width: 100vh;
    left: auto;
  }
  .home .tickers.paused {
    animation-play-state: paused;
  }
  .home .music {
    display: flex;
    background-color: var(--accent);
    position: fixed;
    bottom: 15px;
    right: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .home .music svg {
    color: white;
  }

  .mailing-modal-content {
    position: absolute;
    bottom: 0;
    height: 200px;
    width: 100%;
    background-color: var(--background);
    border-radius: 15px 15px 0px 0px;
    padding: 15px;
    outline: none;
  }
  .mailing-modal-content .close {
    display: none;
  }
  .mailing-modal-content .notch {
    width: 40px;
    height: 5px;
    background-color: var(--text-secondary);
    border-radius: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
.mailing-modal-content .input-group {
  display: flex;
}
.mailing-modal-content .input-group {
  width: 100%;
  display: flex;
  justify-content: center;
}
.mailing-modal-content .input-group .text-field {
  flex: 1;
}
.mailing-modal-content .col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 100%;
  justify-content: space-evenly;
}
.mailing-modal-content small {
  width: 100%;
}
.mailing-modal-content .input-group button.loading {
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  border-image: linear-gradient(var(--angle), black, var(--button-flat-border))
    1;
  animation: 5s spin-the-wheel linear infinite;
}
.jackolantern {
  width: 40px;
  height: 40px;
}
