.rhythm {
  background-color: var(--background);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-height: 100vh;
  z-index: 12000;
}
.rhythm .title {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* mobile design */
@media only screen and (max-width: 500px) {
  .rhythm .back {
    grid-row: 1;
    grid-column: 1;
    transform: translateX(-16px);
  }
  .rhythm .title {
    grid-column: span 4 / 5;
    grid-row: 1;
  }
  .rhythm .playlist {
    grid-column: 4;
    grid-row: 1;
    transform: translateX(16px);
  }
  .rhythm .cover-art {
      grid-column: span 4 / 5;
      grid-row: 2 / span 6;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
  }
  .rhythm .cover-art div {
    width: clamp(250px, 100%, 350px);
    height: 0;
    padding-bottom: clamp(250px, 100%, 350px);
    background-position: center;
    background-size: cover;
  }
  .rhythm .cover-art img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  }
  .rhythm .cover-art img:empty {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: var(--text-secondary);
    background-image: linear-gradient(to right, var(--text-secondary) 0%, #edeef1 20%, var(--text-secondary) 40%, var(--text-secondary) 100%);
    background-repeat: no-repeat;
    background-size: 800px 104px; 
    display: inline-block;
    position: relative; 
    
    animation-duration: 1s;
    animation-fill-mode: forwards; 
    animation-iteration-count: infinite;
    animation-name: placeholderShimmer;
    animation-timing-function: linear;
  }
  .rhythm .song-info {
    grid-row: 8;
    grid-column: span 4 / 5;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .rhythm .like {
      grid-row: 9;
      grid-column: 1;
      transform: translateX(-14px);
  }
  .rhythm .share {
      grid-column: span 4 / 5;
      grid-row: 9;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .rhythm .dislike {
      grid-row: 9;
      grid-column: 4;
      transform: translateX(17px);
  }
  .rhythm .current-time {
      grid-row: 10;
      grid-column: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;
  }
  .rhythm .current-time-slider .MuiSlider-root {
      width: 70%;
  }
  .rhythm .current-time-slider {
      grid-row: 10;
      grid-column: span 4 / 5;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .rhythm .duration {
      grid-row: 10;
      grid-column: 4;
      display: flex;
      justify-content: flex-end;
      align-items: center;
  }
  .rhythm .repeat {
    grid-row: 11;
    grid-column: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transform: translateX(-18px);
  }
  .rhythm .previous {
    grid-row: 11;
    grid-column: 2;
    transform: translateX(-20px);
  }
  .rhythm .next {
    grid-row: 11;
    grid-column: 3;
    transform: translateX(20px);
  }
  .rhythm .play {
    grid-row: 11;
    grid-column: span 4 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rhythm .shuffle {
      grid-row: 11;
      grid-column: 4;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      transform: translateX(16px);
  }
  
  .rhythm .volume-down {
        grid-row: 12;
        grid-column: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        transform: translateX(-2px);
    }
    .rhythm .volume-slider .MuiSlider-root {
        width: 70%;
    }
    .rhythm .volume-slider {
        grid-row: 12;
        grid-column: span 4 / 5;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .rhythm .volume-up {
        grid-row: 12;
        grid-column: 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}
.rhythm .song-info .channel p {
    color: var(--text-secondary);
    margin-top: 1.62px;
}