/* mobile design */
@media only screen and (max-width: 500px) {
  .rhythm .intersection-root {
    position: absolute;
    height: 65vh;
    width: 100vw;
    top: 50px;
  }
  .rhythm .cover-art.lyrics-view {
    width: 56px;
    height: 56px;
    grid-row: 8;
    grid-column: 4;
    opacity: 0;
  }
  .rhythm .cover-art.lyrics-view div {
    width: 56px;
    padding-bottom: 56px;
  }
  .rhythm {
    background-color: var(--background);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    min-height: 100vh;
    z-index: 12000;
  }
  .rhythm .page-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .playlist .back-button,
  .playlist .page-title {
    grid-column: span 4 / 5;
    grid-row: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .playlist .page-title {
    justify-content: center;
  }
  .playlist .page-title p {
    font-size: 12px;
    letter-spacing: calc(calc(12 / 100) * 12px);
    text-transform: uppercase;
  }
  .playlist-drawer {
    z-index: 15000 !important;
  }
  .playlist-drawer .MuiDrawer-paper {
    right: 0;
    left: 0;
    bottom: 0;
  }
  .playlist.screen-grid {
    height: 100%;
    margin: 0;
    padding: 15px;
    padding-top: 0;
  }
  .rhythm {
    overflow: hidden;
  }
  .rhythm .screen-grid {
    margin: 0 !important;
    padding: 15px;
    padding-top: 0;
  }
  .rhythm .back,
  .playlist .back {
    grid-row: 1;
    grid-column: 1;
    transform: translateX(-1px);
    display: flex;
    justify-content: flex-start;
  }
  .rhythm .page-title {
    grid-column: span 4 / 5;
    grid-row: 1;
  }
  .rhythm .playlist,
  .playlist .playlist-add {
    grid-column: 4;
    grid-row: 1;
    display: flex;
    justify-content: flex-end;
  }
  .rhythm .playlist {
    transform: translateX(16px);
  }
  .rhythm .cover-art {
    grid-column: span 4 / 5;
    grid-row: 2 / span 6;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-height: 345px;
    box-shadow: 0px 0px 20px 1px #000;
    border-radius: 10px;
  }
  .rhythm .cover-art img {
    color: transparent;
    width: clamp(250px, 100%, 500px);
    aspect-ratio: 1;
    background-position: center;
    background-size: cover;
  }
  .rhythm .cover-art img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  }
  .rhythm.lyrics-view .song-info {
    grid-column: span 3 / 4;
  }
  .rhythm .song-info {
    grid-row: 8;
    grid-column: span 4 / 5;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    overflow-x: clip;
    justify-content: space-around;
  }
  .rhythm .like {
    grid-row: 9;
    grid-column: 1;
    transform: translateX(-16px);
    display: flex;
    justify-content: flex-start;
  }
  .rhythm .share {
    grid-column: span 4 / 5;
    grid-row: 9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rhythm .lyrics {
    grid-row: 9;
    grid-column: 4;
    transform: translateX(16px);
    display: flex;
    justify-content: flex-end;
  }
  .rhythm .time-info {
    grid-row: 10;
    grid-column: span 4 / 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .rhythm .current-time {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .rhythm .current-time-slider .MuiSlider-root {
    width: 90%;
  }
  .rhythm .current-time-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  .rhythm .duration {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .rhythm .repeat {
    grid-row: 11;
    grid-column: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transform: translateX(-18px);
  }
  .rhythm .previous {
    grid-row: 11;
    grid-column: 2;
    transform: translateX(-20px);
  }
  .rhythm .next {
    grid-row: 11;
    grid-column: 3;
    transform: translateX(20px);
    display: flex;
    justify-content: flex-end;
  }
  .rhythm .play {
    grid-row: 11;
    grid-column: span 4 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: none;
  }
  .rhythm .play.paused {
    transform: scale(2.5);
  }
  .rhythm .shuffle {
    grid-row: 11;
    grid-column: 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transform: translateX(16px);
  }

  .rhythm .volume-down {
    grid-row: 12;
    grid-column: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transform: translateX(-2px);
  }
  .rhythm .volume-slider .MuiSlider-root {
    width: 70%;
  }
  .rhythm .volume-slider {
    grid-row: 12;
    grid-column: span 4 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rhythm .volume-up {
    grid-row: 12;
    grid-column: 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .playlist .MuiTabs-root {
    grid-row: 2;
    grid-column: span 4 / 5;
  }
  .playlist .tab-view {
    background-color: var(--background);
  }
  .playlist .swipeable-view {
    grid-column: span 4 / 5;
    grid-row: span 10 / 13;
  }
  .playlist .playlist-item {
    display: flex;
    text-transform: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
  }
  .playlist .playlist-item-container {
    display: flex;
    align-items: center;
  }
  .playlist .playlist-item-container .more {
    position: absolute;
    right: 0;
    z-index: 100000;
  }
  .playlist .playlist-item .song-info .title h6,
  .playlist .playlist-item .song-info .channel p {
    white-space: nowrap;
    grid-row: 1;
    grid-column: span 4 / 4;
  }
  .playlist .playlist-item .song-info .title,
  .playlist .playlist-item .song-info .channel {
    max-width: 40vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
  .playlist .playlist-item .song-info {
    overflow: hidden;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin-left: 11px;
  }
  .playlist .playlist-item .cover-art {
    width: 64px;
    height: 64px;
    overflow: hidden;
    border-radius: 5px;
  }
  .playlist .playlist-item .cover-art img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .mobile.search-modal .close {
    display: none;
  }
  .desktop.search-modal {
    display: none;
  }
}

/* desktop design */
@media only screen and (min-width: 500px) {
  .rhythm .intersection-root {
    display: none;
  }
  .rhythm {
    max-width: 100vw;
    position: fixed;
    bottom: 0;
    min-height: 125px;
    background-color: var(--nav-background);
    z-index: 12000;
  }
  .rhythm .screen-grid {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr;
    margin: 0;
    padding: 0px 15px 0px 15px;
    width: 100vw;
  }
  .rhythm .page-title {
    display: none;
  }
  .rhythm .back {
    display: none;
  }
  .rhythm .cover-art {
    grid-row: span 2 / 3;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .rhythm .like {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transform: translateX(-16px);
  }
  .rhythm .lyrics {
    display: none;
  }
  .rhythm .share {
    grid-row: 1;
    grid-column: 12;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transform: translateX(16px);
  }
  .rhythm .playlist {
    grid-row: 1;
    grid-column: 11;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transform: translateX(-16px);
  }
  .rhythm .repeat {
    grid-row: 2;
    grid-column: 5;
  }
  .rhythm .shuffle {
    grid-row: 2;
    grid-column: 8;
  }
  .rhythm .play {
    grid-row: 2;
    grid-column: span 12 / 13;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rhythm .previous {
    grid-row: 2;
    grid-column: 6;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .rhythm .next {
    grid-row: 2;
    grid-column: 7;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .rhythm .song-info {
    grid-row: 2;
    grid-column: span 2 / 4;
    overflow: clip;
  }
  .rhythm .cover-art img {
    color: transparent;
    width: clamp(85px, 100%, 99px);
    aspect-ratio: 1;
    background-position: center;
    background-size: cover;
  }
  .rhythm .time-info {
    grid-row: 1;
    grid-column: span 4 / 9;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .rhythm .time-info .current-time-slider {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rhythm .time-info .current-time-slider .MuiSlider-root {
    width: 90%;
  }
  .rhythm .volume-slider {
    grid-row: 2;
    grid-column: span 2 / 13;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .rhythm .volume-slider .MuiSlider-root {
    width: 80%;
  }
  .rhythm .volume-up {
    grid-row: 2;
    grid-column: 11;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .rhythm .volume-down {
    display: none;
  }
  .playlist-drawer {
    z-index: 11000 !important;
  }
  .playlist .back,
  .playlist > .page-title {
    display: none;
  }
  .playlist.screen-grid {
    padding-bottom: 15px;
    padding-top: 40px;
  }
  .playlist .desktop-nav-wrap {
    left: 0;
  }
  .playlist .swipeable-view {
    grid-row: span 11 / 14;
    grid-column: span 12 / 13;
    padding-bottom: 15px;
  }
  .playlist .playlist-tabs {
    grid-row: 2;
    grid-column: span 11 / 12;
    max-height: 48px;
  }
  .playlist-drawer .MuiDrawer-paper {
    width: 100%;
    overflow: hidden;
  }
  .playlist .playlist-add {
    grid-row: 2;
    grid-column: 12;
  }
  .playlist .playlist-item-container .more {
    display: none;
  }
  .playlist .playlist-item {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
  }
  .playlist .tabpanel-page button {
    padding: 15px !important;
  }
  .playlist .tabpanel-page {
    padding-bottom: 15px;
  }
  .rhythm .PrivateSwipeArea-anchorRight-12 {
    display: none;
  }
  .playlist .playlist-item .cover-art {
    grid-column: 1;
    grid-row: 1;
    overflow: hidden;
    width: 50px;
    height: 50px;
  }
  .playlist .playlist-item .cover-art img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .playlist .playlist-item .song-info {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(12, 1fr);
    grid-column: span 12 / 13;
    grid-row: 1;
    grid-gap: 20px;
  }
  .playlist .playlist-item .song-info .title {
    grid-column: span 2 / 4;
    grid-row: 1;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
  .playlist .playlist-item .song-info .title h6 {
    white-space: nowrap;
  }
  .playlist .playlist-item .song-info .duration {
    grid-column: 12;
    grid-row: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .playlist .playlist-item .song-info .channel {
    grid-column: span 6 / 12;
    grid-row: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    text-transform: none;
  }
  .mobile.search-modal {
    display: none;
  }
  .desktop.search-modal {
    position: relative;
    bottom: 0;
    transition: height 0.15s ease-in-out;
    will-change: height;
  }
  .desktop.search-modal.open {
    height: 180px;
  }
  .desktop.search-modal.close {
    height: 0px;
  }
  .desktop .search-modal-content {
    position: relative;
    border-radius: 0;
  }
  .desktop .search-modal-content .input-group .text-field {
    width: 300px;
  }
  .desktop .search-modal-content .top-notch {
    display: none;
  }
  .desktop .search-modal-content .close {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -16px);
  }
}
@keyframes collapse {
  from {
    height: 0;
  }
  to {
    height: 180px;
  }
}
.rhythm .song-info .channel p {
  color: var(--text-secondary);
  margin-top: 1.62px;
  white-space: nowrap;
  grid-row: 1;
  grid-column: span 4 / 4;
}
.rhythm .cover-art img:empty,
.playlist-item .cover-art img:empty {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: var(--text-secondary);
  background-image: linear-gradient(
    to right,
    var(--text-secondary) 0%,
    #edeef1 20%,
    var(--text-secondary) 40%,
    var(--text-secondary) 100%
  );
  background-repeat: no-repeat;
  background-size: 800px 104px;
  display: inline-block;
  position: relative;

  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  animation-timing-function: linear;
}
.rhythm .song-info .channel p:empty,
.playlist-item .song-info .channel p:empty {
  width: 80px;
  height: 15px;
  background-color: grey;
}
.rhythm .song-info .title h6:empty,
.playlist-item .song-info .title h6:empty {
  width: 150px;
  height: 15px;
  background-color: grey;
}
.playlist-item .duration small:empty {
  width: 50px;
  height: 15px;
  background-color: grey;
}
.MuiSlider-colorPrimary {
  color: var(--accent) !important;
}
.rhythm .song-info .title {
  width: 100%;
  box-sizing: content-box;
}
.rhythm .song-info .title h6 {
  display: inline-block;
  white-space: nowrap;
  padding-right: 100%;
  grid-row: 1;
  grid-column: span 4 / 4;
}
.ticker {
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: title-ticker;
  animation-duration: 12s;
  padding-right: 100%;
  padding-left: 100%;
  box-sizing: content-box;
}
@keyframes title-ticker {
  0% {
    transform: translate3d(0%, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
.play.waiting button {
  will-change: transform;
  --angle: 0deg;
  box-shadow: 0px 0px 0px 4px hsl(var(--angle), 50%, 50%) inset;
  animation: 5s spin-the-wheel linear infinite;
  animation-direction: alternate-reverse;
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@keyframes spin-the-wheel {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
.search-modal .top-notch {
  width: 40px;
  height: 5px;
  background-color: var(--text-secondary);
  border-radius: 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.search-modal {
  z-index: 16000 !important;
}
.search-modal-content {
  position: absolute;
  bottom: 0;
  height: 180px;
  width: 100%;
  background-color: var(--background);
  border-radius: 15px 15px 0px 0px;
  padding: 15px;
  outline: none;
}
.search-modal-content .input-group {
  width: calc(100% - 30px);
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.search-modal-content .input-group button.loading {
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  border-image: linear-gradient(var(--angle), black, var(--button-flat-border))
    1;
  animation: 5s spin-the-wheel linear infinite;
}
#playlist-item-menu {
  z-index: 17000 !important;
}
#playlist-item-menu .MuiPaper-root {
  min-width: 200px;
}
#playlist-item-menu .song-info {
  padding: 15px;
  padding-top: 2px;
}
#playlist-item-menu .song-info .title h6 {
  white-space: initial;
  overflow-wrap: break-word;
  max-width: 200px;
}
#playlist-item-menu .song-info .channel {
  color: var(--text-secondary);
  max-width: 200px;
  overflow-wrap: break-word;
}
.rhythm .song-info .title,
.rhythm .song-info .channel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}
.rhythm .like.active,
.rhythm .lyrics.active,
.rhythm .shuffle.active,
.rhythm .repeat.active {
  color: var(--accent);
}
.playlist .MuiTabs-indicator {
  background-color: var(--accent) !important;
}
.playlist .playlist-item .channel,
.playlist .playlist-item .duration {
  color: var(--text-secondary);
}
.playlist.screen-grid {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}
.rhythm .song-info .channel.animated::before,
.rhythm .song-info .title.animated::before,
.playlist .playlist-item .song-info .title.animated::before,
.playlist .playlist-item .song-info .channel.animated::before {
  transform: translateX(-3px);
  content: "a";
  grid-column: 1;
  grid-row: 1;
  color: transparent;
  z-index: 1;
  pointer-events: none;
  background-image: linear-gradient(
    to left,
    var(--background-transparent),
    var(--background) 90%
  );
}
.rhythm .song-info .channel.animated::after,
.playlist .playlist-item .song-info .channel.animated::after,
.playlist .playlist-item .song-info .title.animated::after,
.rhythm .song-info .title.animated::after {
  transform: translateX(3px);
  content: "a";
  color: transparent;
  grid-column: 4;
  grid-row: 1;
  z-index: 1;
  pointer-events: none;
  background-image: linear-gradient(
    to right,
    var(--background-transparent),
    var(--background) 90%
  );
}
.rhythm .song-info .channel.animated,
.rhythm .song-info .title.animated,
.playlist .playlist-item .song-info .channel.animated,
.playlist .playlist-item .song-info .title.animated {
  overflow: hidden;
}