.settings .content .screen-grid {
    margin: 0!important;
    padding: 15px;
    
}
/*desktop design*/
@media only screen and (min-width: 500px) {
    .settings .back-button {
        display: none;
    }
    .settings .settings-section {
        grid-column: span 4 / 9;
        grid-row: span 5 / 8;
    }
    .settings .screen-grid {
        height: 100vh;
        width: 100vw;
    }
    .settings .settings-section .section-title {
        text-align: center;
    }
}

/*mobile design*/
@media only screen and (max-width: 500px) {
    .settings .content .screen-grid {
        padding-top: 0;
    }
    .settings .back-button {
        transform: translateX(-16px);
    }
    .settings .back-button,
    .settings .page-title {
        grid-column: span 4 / 5;
        grid-row: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .settings .page-title {
        justify-content: center;
    }
    .settings .page-title p {
        font-size: 12px;
        letter-spacing: calc(calc(12 / 100) * 12px);
        text-transform: uppercase;
    }
    .settings .settings-section {
        grid-row: span 5 / 7;
        grid-column: span 4 / 5;
        
    }
}
.settings .settings-section .toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.settings .settings-section .section-title {
    font-weight: var(--roboto-medium);
    font-size: 12px;
    letter-spacing: calc(calc(12 / 100) * 12px);
    text-transform: uppercase;
}
.settings .settings-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.app-version {
    width: 100vw;
    padding: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.app-version p {
    text-align: center;
}